# Директория для кэша, создаваемого командой go build
/build/

# Директория для скомпилированных бинарных файлов
/bin/

# Кэш, логи и временные файлы
*.log
*.tmp
*.out

# Модули Go
/go.sum
/go.mod

# Файлы IDE и редакторов
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Файлы ОС
.DS_Store
Thumbs.db

# Файлы временного контроля версий
*.swp
*.swo
*~
.env